td,th{
    border: #ffffff 5px solid;
    padding: 10px;
    border-radius: 25px;
}
table{
    width: 100%;
    border-collapse:collapse ;
}
thead{
    font-family: "Droid Sans Mono";
    font-size: 25px;
    color: blueviolet;

}
h2{
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS";
    color: cadetblue;
}
tr:nth-child(even){
    background-color: #c55a5a;
}
body{
    background: #7bd77b;
}